# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Entorno virtual
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Variables de entorno
.env
